#home-container{
  scroll-snap-type: y mandatory;
}

.home-section{
  scroll-snap-align: start;
}


.slide{

    cursor: pointer;
    /* transition: background-color 0.3s, color 0.3s; */
  }
  
.active-slide {
    color: whitesmoke; 
    z-index: 10;
    transition: all 0.3s ease;
  }

#slider-indicator{
    transition: transform 0.3s ease-out;
    background-color: #1b1464; 
}

.slider-bullet{
    background-color: #544f8b;
}

.active-slider-bullet{
  background-color: #1b1464; 
}

.about-text{
  color: #1b1464;
  font-size: large;
  text-align: left;
}

#events-section{
  background-color: #1b1464; 

}

.slide-in {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-in-out;

}

.not-shown{
  transform: translateY(100px);
  opacity: 0;

}

